.mainSignupSection {
    display: flex;
    justify-content: center;
    flex:auto;
  }

.mainSignupSection button {
  margin-top: 30px;
}

.signupPageButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
}