/* 
sm	@media (min-width: 640px)	≥ 640px
md	@media (min-width: 768px)	≥ 768px
lg	@media (min-width: 1024px)	≥ 1024px
xl	@media (min-width: 1280px)	≥ 1280px */

* {
  outline: 1px solid red;
}

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
} */

body > .mainSection {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainSection {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    overflow: hidden;
}

.sidePanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.conversations {
    width: 100%;
}

.usersList, .conversationsList {
    width: 25%;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
    overflow: auto;
}

.messageView {
    width: 75%;
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.participantName {
    width: 100%;
}

.messageTitle, .chatView {
    width: 100%;
}

.chatView {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.messageTitle {
    text-align: start;
}

.recipient {
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.sender {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.messageBubble {
    border-radius: 20px;
    padding: 1px 9px;
}

.sender > .messageBubble {
    background-color: #DCF8C6;
}

.recipient > .messageBubble {
    background-color: #E6F0FF;
}

.messageTitle > span {
    gap: 9px;
    display: flex;
}

.chatMessagesView {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.participants {
    display: flex;
    flex-direction: row;
}

.chatView form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chatView form input {
    width: 100%;
    height: 50px;
}

.sidePanelViewButton, .messagePanelViewButton {
    display: none;

}

.messageSection {
    gap: 10px;
}

@media (max-width: 640px){
    .sidePanelViewButton, .messagePanelViewButton {
        display: block;
    }

    .sidePanelViewButton, .groupCreateButton {
        align-self: flex-end;
    }

    .messagePanelViewButton {
        align-self: flex-start;
    }

    .viewOn {
        display: none;
    }

    .usersList, .users, .conversationsList, .messageView {
        width: 100%;
    }

}