.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

h1 {
    margin: 0;
}

.navBar {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding-right: 20px;
    justify-content: right;
    gap: 30px;
    height: 100%;
    width: 200px;
}

.logo {
    text-align: left;
}

  a {
    color: white;
    text-decoration: none;
  }
  
  a:active {
    color: grey;
  }

  .updateProfile {
    outline: 2px solid  white ;
    border-radius: 50%;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    display: grid;
    min-width: 25px;

  }

  .guestUser {
    box-shadow: 0 0 1px 5px rgba(53, 50, 50, 0.308);

  }

  .userSection, .participants {
    outline: 1px solid #80808099;
  }
  
  .profileIncomplete {
    box-shadow: 0 0 1px 5px rgb(255, 57, 8);
  }