#root {
  min-height: 100vh;
  text-align: center;
  display: grid;
  width: 100%
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.fullDisplay {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 30px;
  margin-right: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
  gap: 5px;
}