#root {
  min-height: 100dvh;
  text-align: center;
  display: grid;
  width: 100%
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fullDisplay {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  gap: 10px;
  background-color: #f5f3f4;
}

form {
  display: flex;
  flex-direction: column;
  width: min-content;
  align-items: center;
  gap: 5px;
}

h1, h2 {
  font-family: 'Fredoka', sans-serif;
}

body {
  font-family: 'Quicksand', sans-serif;
}

img {
    height: 25px;
    display: block;
}