.mainLoginSection {
    display: flex;
    justify-content: center;
    flex:auto;
  }

  .loginForm {
    display: flex; 
    flex-direction: column;
  }

  .loginForm button {
    margin-top: 20px;
    border: 1px black solid;
  }

  .error-message {
    color: red;
    margin-bottom: 10px;
}