.mainLoginSection {
    display: flex;
    justify-content: center;
    flex:auto;
    padding-top: 40px;
  }

.loginFormButtons {
  display: flex;
  flex-direction: column;
}

.loginFormButtons {
  display: flex;
  flex-direction: column;
}

.signupForm, .loginForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 0 40px 10px gray;
}

.loginForm button {
  margin-top: 20px;
}

  .error-message {
    color: red;
    margin-bottom: 10px;
}

.guestLink {
  color: black;
  cursor: pointer;
  font-size: medium;
}